/*On Reset*/
* {

    margin: 0;
    padding: 0;
}

/*Body display type*/
#MainPage{
    display: flex;
    flex-direction: row;
}

#TopNav{
    text-align: center;
    width: 100%;
    background-color: #969696;
    
}

#Login{
    padding-bottom: 50px;
}

#UserInfo{
    display: flex;
    flex-direction: column;
    width: 30%;
}
#emptynav{
    width: 10%;
}
#emptydiv2{
    padding-top: 20px;
}

#ChoiceInfo{
   width: 60%;
   flex-direction: column;
   float: right;
   display: flex;
}
#Choice{
    display: none;
}

#currentChoice{
    display: flex;
    flex-direction: column;
    visibility: visible;
}

#ChoiceHeader{
    display: flex;
    flex-direction: column;
}

#a1{
    visibility: visible;
}

#a2{
    visibility: visible;
}

#a3{
    visibility: visible;
}

#a4{
    visibility: visible;
}

#a5{
    visibility: visible;
}

#GreaterAlternative1{
    display: none;
    flex-direction: column;
    visibility: visible;
}

#Alternative1{
    display: flex;
    flex-direction: row;
}

#alternative1namelabel{
    display: flex;
    flex-direction: column;
    padding-right: 20px;
}

#alternative1finalizelabel{
    margin: 0;
    position: relative;
    top: 50%;
    transform: translateY(50%);
}

#alternative1approvalbuttons{
    display: flex;
    flex-direction: row;
}

#alternative1approval{
    display: flex;
    flex-direction: column;
    padding-right: 10px;
}

#alternative1disapproval{
    display: flex;
    flex-direction: column;
    padding-right: 30px;
}

#alternative1feedback{
    padding-left: 10px;
    padding-right: 10px;
}

#GreaterAlternative2{
    display: none;
    flex-direction: column;
    visibility: visible;
}

#Alternative2{
    display: flex;
    flex-direction: row;
}

#alternative2namelabel{
    display: flex;
    flex-direction: column;
    padding-right: 20px;
}

#alternative2approvallabel{
    display: flex;
    flex-direction: column;
}

#alternative2approvalbuttons{
    display: flex;
    flex-direction: row;
}

#alternative2approval{
    display: flex;
    flex-direction: column;
    padding-right: 10px;
}

#alternative2disapproval{
    display: flex;
    flex-direction: column;
    padding-right: 30px;
}

#GreaterAlternative3{
    display: none;
    flex-direction: column;
    visibility: visible;
}

#Alternative3{
    display: flex;
    flex-direction: row;
}

#alternative3namelabel{
    display: flex;
    flex-direction: column;
    padding-right: 20px;
}

#alternative3approvallabel{
    display: flex;
    flex-direction: column;
}

#alternative3approvalbuttons{
    display: flex;
    flex-direction: row;
}

#alternative3approval{
    display: flex;
    flex-direction: column;
    padding-right: 10px;
}

#alternative3disapproval{
    display: flex;
    flex-direction: column;
    padding-right: 30px;
}

#GreaterAlternative4{
    display: none;
    flex-direction: column;
    visibility: visible;
}

#Alternative4{
    display: flex;
    flex-direction: row;
}

#alternative4namelabel{
    display: flex;
    flex-direction: column;
    padding-right: 20px;
}

#alternative4approvallabel{
    display: flex;
    flex-direction: column;
}

#alternative4approvalbuttons{
    display: flex;
    flex-direction: row;
}

#alternative4approval{
    display: flex;
    flex-direction: column;
    padding-right: 10px;
}

#alternative4disapproval{
    display: flex;
    flex-direction: column;
    padding-right: 30px;
}

#GreaterAlternative5{
    display: none;
    flex-direction: column;
    visibility: visible;
}

#Alternative5{
    display: flex;
    flex-direction: row;
}

#alternative5namelabel{
    display: flex;
    flex-direction: column;
    padding-right: 20px;
}

#alternative5approvallabel{
    display: flex;
    flex-direction: column;
}

#alternative5approvalbuttons{
    display: flex;
    flex-direction: row;
}

#alternative5approval{
    display: flex;
    flex-direction: column;
    padding-right: 10px;
}

#alternative5disapproval{
    display: flex;
    flex-direction: column;
    padding-right: 30px;
}